.boiteOutils{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box{
        position: relative;
        width: 1192px;
        height: 674px;
    }

    &__container{
        position: absolute;
        cursor: pointer;
        overflow: hidden;

        background-color: $bg-opacity;
        color: $color-grey;
        border-radius: 5px;
        height: 327px;
        padding: 20px 0 0 20px;

        transition: all 0.3s ease-in-out;

        &:hover{
            color: $bg-color;
            background-color: $color-grey;
        }
    }

    &__content{
        display: none;
    }

    &__flex{
        display: flex;
        align-items: center;
        gap: 28px;
        overflow: hidden;
    }

    &__parties{
        margin-top: 80px;
    }
}

.bigNum{
    font-size: 45.2rem;
    line-height: 100%;
}

.hautG{
    top: 0;
    left: 0;
    width: 673px;
}
.hautD{
    top: 0;
    right: 0;
    width: 499px;
}
.basG{
    bottom: 0;
    left: 0;
    width: 326px;
}
.basD{
    bottom: 0;
    right: 0;
    width: 846px;
}

.open2{
    width: 1192px;
    height: 674px;
    z-index: 20;

    background-color: $color-grey;
    color: $bg-color;
    border-radius: 5px;
    overflow-y: auto;

    .boiteOutils__content{
        display: flex;
        flex-direction: column;
        margin: 0 160px 40px 160px;
        gap: 80px;
    }
}

.open2 ~ .btn--ferme{
    opacity: 1;
}

.btn--ferme{
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        color: white; //attention changer la couleur
        z-index: 30;
}