//les 4 big carrés et leur content
.boiteOutils{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box{
        position: relative;
        width: 1192px;
        height: 674px;
    }

    &__container{
        position: absolute;
        cursor: pointer;
        overflow: hidden;

        background-color: $bg-opacity;
        color: $color-grey;
        border-radius: 5px;
        height: 327px;
        padding: 20px 0 0 20px;

        transition: all .3s ease-in-out;

        &:hover{
            color: $text-color;
            background-color: $lightBg-color;
        }
    }

    &__content{
        opacity: 0;
    }

    &__flex{
        display: flex;
        align-items: center;
        gap: 28px;
    }

    &__parties{
        margin-top: 80px;
    }
}

.bigNum{
    font-size: 45.2rem;
    line-height: 100%;
}

.hautG{
    top: 0;
    left: 0;
    width: 673px;
}
.hautD{
    top: 0;
    right: 0;
    width: 499px;
}
.basG{
    bottom: 0;
    left: 0;
    width: 326px;
}
.basD{
    bottom: 0;
    right: 0;
    width: 846px;
}

.open2{
    width: 1192px;
    height: 674px;
    z-index: 20;

    background-color: $lightBg-color;
    color: $text-color;
    border-radius: 5px;
    overflow-y: auto;

    .boiteOutils__content{
        position: relative;
        transition: opacity .3s ease-in-out;
        transition-delay: .3s;
        opacity: 1;
        display: flex;
        flex-direction: column;
        margin: 0 160px 40px 160px;
        gap: 80px;
    }
}

.open2 ~ .btn--ferme{
    opacity: 1;
}

.btn--ferme{
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0;
        color: white; //attention changer la couleur
        z-index: 30;
}

// les objets du kit de survie + animation
.objet{
    position: absolute;
    width: 220px;
    height: 200px;
    perspective: 600px;

    &__carte{
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;

        &:hover{
            transform: rotateY(180deg);
        }
    }
    
    &__face{
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        background-color: $lightBg-color;

        &--front{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        &--back{
            transform: rotateY(180deg);
        }
    }
}
.note{
    top: 0;
    left: 0;
}
.fidget{
    top: 5vh;
    left: 37%;
}
.dumbphone{
    top: 0;
    right: 0;
}
.livre{
    bottom: -55vh;
    left: 17%;
}
.montre{
    bottom: -55vh;
    right: 17%;
}