.caseStudy{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;

    @media (max-width: 699px){
        height: auto;
        overflow: visible;
    }

    &__header{
        margin: 40px 28px 57px 28px;
    }

    &__box{
        display: flex;
        flex: 1;
        overflow: hidden;
        position: relative;

        @media (max-width: 699px){
            flex-direction: column;
            padding: 15px 0 0 0;
            overflow: visible;
        }

        @media (min-width: 700px){
            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                pointer-events: none;
                z-index: 10;

                box-shadow: 
                    inset 0px 80px 50px -30px rgb(13, 13, 13),  /* Fondu du haut */
                    inset 0px -80px 50px -30px rgb(13, 13, 13); /* Fondu du bas */
            }
        }
    }

    &__container{
        flex: 4;
        height: 100%;
        overflow-y: auto;
        padding: 100px 0;

        @media (max-width: 699px){
            height: auto;
            overflow: visible;
            padding: 80px 0 0 0;
        }
    }

    &__content{
        display: none;

        &--actif{
            display: flex;
            justify-content: center;
            min-height: 100%;
            padding: 0 28px;
        }
    }

    &__img{
        display: flex;
        gap: 10px;

        @media (max-width: 699px){
            flex-direction: column;
        }
        
        img{
            width: 75%;
            border: 1px solid $text-color;
            border-radius: 5px;
        }

        &--petit{
            width: 60%;

            @media (max-width: 699px){
                width: 100%;
            }
        }
        
        &--hover{
            flex-direction: column;
            gap: 10px;
            align-items: center;
            scale: 1;
            transition: scale .3s ease-in-out;

            &:hover{
                scale: 1.05;
            }

        }
    }
}

.menu{
    flex: 2;
    height: 100%;
    position: relative;

    @media (max-width: 699px){
        flex: none;
        height: auto;
        width: 100%;
    }

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 172px;
        height: 60px;
        transform: translate(-50%, -50%);

        background-color: $lightBg-color;
        border-radius: 5px;
        z-index: -1;
    }

    &__container{
        height: 100%;
        overflow-y: auto;
        scroll-snap-type: y mandatory;

        @media (max-width: 699px){
            overflow-y: hidden;
            overflow-x: auto;
            scroll-snap-type: x mandatory;

            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__list{
        align-items: center;
        padding: 40dvh 28px;

        @media (max-width: 699px){
            display: flex;
            flex-direction: row;
            padding: 0 50dvw;
            width: max-content;
            gap: 80px;
        }
        
    }
    &__el{
        font-size: clamp(1.25rem, 1.0818rem + 0.8969vw, 1.75rem);
        scroll-snap-align: center;
        transition: font-weight .3s ease-in-out;

        a{
            text-decoration: none;
            pointer-events: none;
        }

        &--active{
            font-weight: 700;
        }
    }
}