.scrollContainer{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sliderContainer{
    display: flex;
    gap: 20px;
    padding: 0 0 0 50vw;
    
    &:has(.sliderContainer__el:hover) &__el {
        transform: translateX(-150px);
    }

    &__el{
        width: 100px;
        height: 300px;
        overflow: hidden;
        cursor: pointer;
        transition: width .3s ease-in-out, transform .3s ease-in-out;

        &:hover{
            width: 200px;
        }
    }

    &__slide{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(100%);
        transition: filter .3s ease-in-out;

        &:hover{
            filter: grayscale(0%);
        }
    }
}