.contentContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 95Vh;
    overflow-y: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;

    background-color: $lightBg-color;
    border-radius: 20px 20px 0 0;

    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;

    @media (max-width: 1000px){
        gap: 57px;
    }

    &__content{
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
        
        max-width: 1192px;
        margin: 0 40px;

        @media (max-width: 1000px){
            flex-direction: column;
            margin: 0;
        }
    }
}

.open{
    transform: none;
}

.btn{
    background-color: transparent;
    border: none;

    cursor: pointer;

    &--img{
        transition: fill 0.3s ease-in-out;
    }

    &:hover .btn--img{
        fill: $text-color;
    }

    &--close{
        position: fixed;
        top: 8vh;
        right: 1.2vw;
        z-index: 10;
    }
}

.accessibility{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
}

.imgSection{
    height: 100vh;
    object-fit: cover;
    position: sticky;
    top: 0;

    @media (max-width: 1000px){
        height: 100vw;
        position: relative;
    }
}

.hourChange{
    display: flex;
    margin-bottom: 57px;

    @media (max-width: 1000px){
        margin-bottom: 20px;
    }
}