$bg-color: #0D0D0D;
$lightBg-color: #262626;
$text-color: #FFF;
$bg-opacity: #303030;
$color-grey: #A4A4A4;

$font-title: "apotek-extended-extralight", sans-serif;
$font-text: "boreal-extralight", sans-serif;